<mat-card>
    <mat-card-title>Add New Category</mat-card-title>

    <mat-card-content>
        <form #form="ngForm" (ngSubmit)="submit(form)">

            <mat-form-field>
                <input type="text" matInput placeholder="Category" name="category" ngModel required>
            </mat-form-field><br>

            <select name="colorCode" ngModel (change)="onChange($event.target.value)" [ngStyle]="{'background-color':selectedColor}">
                <option value="">Choose Color</option>
                <option style="background-color: #FF850A;" value="orange"></option>
                <option value="green" style="background-color:#00ff00;"></option>
                <option value="blue" style="background-color: #0000ff;"></option>
                <option value="yellow" style="background-color: #ffff00;"></option>
            </select><br><br>

            <input type="file" placeholder="photo" name="photo" id="photo" #imageFile accept="image/*" ngModel><br><br>

            <div class="button">
                <button type="submit" [disabled]="form.invalid" mat-stroked-button color="primary">Add Category</button>
            </div>
        
        </form>
    </mat-card-content>
    
</mat-card>
