<mat-card>
    <mat-card-content>
        <form [formGroup]="form">

            
                <span>Entry</span>&nbsp;
                <facebook-share-button [share]="shareObj" ></facebook-share-button><br><hr>
            <br>
            
            <mat-form-field style="width:100% !important">
                <input type="text" matInput placeholder="Title" formControlName="title">
            </mat-form-field>
            <br>

            <mat-form-field style="width:100% !important">
                <textarea formControlName="description" matInput rows="10" placeholder="description"></textarea> 
            </mat-form-field><br>

            <mat-form-field>
                <mat-label>Category</mat-label>
                <mat-select name="category" formControlName="category"> 
                    <mat-option *ngFor="let c of categories" [value]="c.category" >{{c.category}}</mat-option>
                </mat-select>
            </mat-form-field><br>

            <mat-form-field>
                <input type="text" matInput placeholder="User" formControlName="username">
            </mat-form-field><br>

            <img *ngIf = "photo !='nothing'" class="imgsrc" src="https://belloz.sgp1.digitaloceanspaces.com/myApp/{{photo}}"><br>
            <input type="file" accept="image/*" (change)="uploadFile($event)"><br><br><br>
        
            <div>
                <button (click)="onDelete()" mat-stroked-button color="primary">Delete</button>&nbsp;
                <button (click)="onEdit()" mat-stroked-button color="accent">Edit</button>&nbsp;
                <button routerLink="/search" mat-stroked-button>Back</button>&nbsp; 
            </div>

        </form>
    </mat-card-content>
</mat-card>
